[Unit]
Description=Docker system compose %I service
Requires=docker.service
Wants=network.target multi-user.target docker.service cloud-init.target
After=network.target multi-user.target docker.service cloud-init.target
PartOf=docker-compose.target
ConditionPathExists=/%I
ConditionPathExists=!/%I/docker-compose-disabled
ConditionFileIsExecutable=/usr/bin/system-docker-compose

[Service]
WorkingDirectory=/%I
Type=oneshot
RemainAfterExit=yes
User=root
Group=root
Environment=ENABLED=1
Environment=DOCKER_CLIENT_TIMEOUT=300
Environment=COMPOSE_HTTP_TIMEOUT=300
Environment=STACKDIR=/%I
EnvironmentFile=-/%I/config.env
ExecStartPre=/bin/sh -c "test x$ENABLED = x1 || exit 1"
ExecStart=/usr/bin/system-docker-compose start
ExecStop=/usr/bin/system-docker-compose stop
ExecReload=/usr/bin/system-docker-compose reload

[Install]
WantedBy=docker-compose.target
Also=docker-compose-refresh.timer

