[Unit]
Description=Docker system compose %I service
Requires=network-online.target docker.service
Wants=network-online.target docker.service
After=network-online.target docker.service
PartOf=docker-compose.target
ConditionPathExists=/%I
ConditionFileIsExecutable=/usr/bin/system-docker-compose

[Service]
WorkingDirectory=/%I
Type=oneshot
RemainAfterExit=yes
User=root
Group=root
Environment=ENABLED=1
Environment=DOCKER_CLIENT_TIMEOUT=300
Environment=COMPOSE_HTTP_TIMEOUT=300
EnvironmentFile=-/%I/config.env
ExecStartPre=/bin/sh -c "test x$ENABLED = x1 || exit 1"
ExecStartPre=/usr/bin/system-docker-compose /%I rm -fv
ExecStart=/usr/bin/system-docker-compose /%I up -d --no-color
ExecStop=/usr/bin/system-docker-compose /%I down
ExecReload=/usr/bin/system-docker-compose /%I pull
ExecReload=/usr/bin/system-docker-compose /%I up -d --no-color

[Install]
WantedBy=docker-compose.target
Also=docker-compose-refresh.timer

