[Unit]
Description=Docker system compose refresh and reload target
StopWhenUnneeded=true
Requires=network-online.target docker.service docker-compose.target
Wants=network-online.target docker.service docker-compose.target multi-user.target
After=network-online.target docker.service docker-compose.target multi-user.target
ConditionFileIsExecutable=/usr/bin/docker
ConditionFileIsExecutable=/usr/bin/system-docker-compose

[Service]
# The dummy program will exit
Type=oneshot
# Execute a dummy program
ExecStart=/bin/true

[Install]
Also=docker-compose-refresh.timer

